// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;
@font-face {
       font-family: "Glyphicons Halflings";
       src: url("fonts/glyphicons-halflings-regular.ttf");
}

$theme-colors: (
       "primary": #02AED6,
       "danger": #ff4136
);

* {
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       scroll-behavior: smooth;
       text-decoration: none;

       a:hover {
              text-decoration: underline;
              color: inherit;
       }

       a:visited {

              text-decoration: none;
              color: inherit;
       }

       a {
              text-decoration: none;
              color: inherit;
       }
}

body,
html {
       width: 100%;
       overflow-x: hidden !important;
       box-sizing: border-box;
       margin: 0;
       font-size: 100%;
}

.bg-absolute {
       position: absolute;
       width: 100%;
       min-width: 600px;
       max-height: 800px;
       object-fit: cover;
       z-index: -1;
       filter: brightness(0.7);
}

.logo {
       width: 100%;
}

.navbar-brand {
       max-width: 280px;
       width: 60%;
       min-width: 160px;
}

@media (min-width: 992px) {
       .navbar-expand-lg {
              justify-content: space-between !important;
       }

       .navbar-collapse {
              flex-grow: 0 !important;
              font-size: 1.4rem !important;
       }

}

.caption {
       color: var(--light);
       font-size: 3rem;
}

@media (max-width: 991px) {

       .navbar-collapse {
              width: 100%;
              flex-grow: 0 !important;
              font-size: 1.4rem !important;
              position: absolute;
              top: 90%;
              left:0;
       }
              .navbar-collapse.collapsing {
                     width: 100%;
                     flex-grow: 0 !important;
                     font-size: 1.4rem !important;
                     position: absolute;
                     top: 90%;
                     left: 0;
              }

       .navbar-nav {
              flex-direction: row !important;
              justify-content: space-evenly;
              flex-wrap: wrap;
       }

       .caption {
              text-align: center;
              font-size: 2rem;
       }

       .nav-link {
              padding: 0 !important;
       }

}

.nav-item.nav-link {
       color: white !important;

       &:hover {
              color: rgba(255, 255, 255, 0.527) !important;
       }
}

@import "bootstrap-4.0.0/scss/bootstrap.scss";