// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

$primary: #02AED6;
$secondary: #ff4136;
$spacer: 100px;
$body-bg: #02AED6;
$danger: #ff4136;
$body-color: white;
@import "bootstrap-4.0.0/bootstrap-4.0.0/scss/bootstrap.scss";

* {
       font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       scroll-behavior: smooth;
       text-decoration: none;

       a:hover {
              text-decoration: underline;
              color: inherit;
       }

       a:visited {

              text-decoration: none;
              color: inherit;
       }

       a {
              text-decoration: none;
              color: inherit;
       }
}

label {
       margin-top: 10px;
       margin: 0;
}

body,
html {
       width: 100%;
       overflow-x: hidden !important;
       box-sizing: border-box;
       margin: 0;
       font-size: 100%;
}

.sticker {
       text-orientation: upright;
       writing-mode: vertical-rl;
       justify-items: center;
       padding: 5px;
       gap: 5px;
       grid-template-columns: 50px 50px 50px;
       position: fixed;
       z-index: 2;
       background-color: rgb(118, 175, 33);
       top: 30%;
       display: grid;

}

.bg-absolute {
       top: 0px;
       left: 0px;
       position: absolute;
       width: 100%;
       min-width: 600px;
       height: 750px;
       object-fit: cover;
       z-index: -1;
       filter: brightness(0.7);
}

.logo {
       width: 100%;
}

.caption {
       color: var(--light);
       font-size: 3rem;
}

.my-card {
       display: flex;
       flex-direction: column;
       align-items: center;
       flex: 1;
}

.rounded-img {
       aspect-ratio: 1 / 1;
       object-fit: cover;
       border-radius: 100%;
       overflow: hidden;
}

.highlight {
       font-weight: bold;
       color: #ff4136;

}

.service {
       flex: 1;
       object-fit: cover;
       background-repeat: no-repeat;
}

////////////////BOOTSTRAP
@media (min-width: 992px) {
       .navbar-expand-lg {
              justify-content: space-between !important;
       }

       .navbar-collapse {
              flex-grow: 0 !important;
              font-size: 1.4rem !important;
       }

}

.navbar {
       padding: 0 !important;
}
.navbar-toggler{
       margin-right:10px ;
}
@media (max-width: 991px) {

       .navbar-collapse {
              width: 100%;
              flex-grow: 0 !important;
              font-size: 1.4rem !important;
              position: absolute;
              top: 90%;
              left: 0;
       }

       .navbar-collapse.collapsing {
              width: 100%;
              flex-grow: 0 !important;
              font-size: 1.4rem !important;
              position: absolute;
              top: 90%;
              left: 0;
       }

       .navbar-nav {
              column-gap: 10px;
              flex-direction: row !important;
              justify-content: space-evenly;
              flex-wrap: wrap;
       }

       .caption {
              text-align: center;
              font-size: 2rem;
       }

       .nav-link {
              padding: 0 !important;
       }

}

.navbar-brand {
       max-width: 280px;
       width: 60%;
       min-width: 160px;
       margin: 0 !important;
}

.nav-item.nav-link {
       color: white !important;

       &:hover {
              color: rgba(255, 255, 255, 0.527) !important;
       }
}